{% extends 'base.html.twig' %}

{% block title %}{{ category}}{% endblock %}

{% block body %}
    {% for article in articles %}
        <h1>{{ category }}</h1>

        <div>
            <h2>{{ article.title }} - Category : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
        </div>
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Back to homepage.
    </a>
    <br>

{% endblock %}