{% extends 'base.html.twig' %}

{% block title %}
    {{ slug }}
{% endblock %}

{% block body %}
    <div>
        <h1>Real article s title : {{ article.title }}</h1>
        <h2>Category : {{ category.name }}</h2>
        <p>{{ article.content }}</p>
    </div>

    <a href="{{ path('app_index') }}">
        Back to homepage</a>

    <div>

        <strong>Tags :</strong>
        <ul>
            {% for tag in tags %}
                <a href="{{ path('tag_show', {'id': tag.id}) }}"> <li>{{ tag.name }} </li> </a>
            {% else %}
                <li>No tags for this article</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}